.furnituredetailpage {
  position: relative;
  display: block;
  .product_wrap {
    position: relative;
    display: flex;
    width: 1000px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 100px;
    .product_img {
      width: 500px;
      height: 500px;
      margin-right: 100px;
    }
    .product_text {
      .product_title {
        font-size: 28px;
        font-weight: 600;
      }
      .product_price {
        font-size: 20px;
        font-weight: 600;
        margin: 30px 0;
      }
      .product_explain {
      }
      div {
        margin: 30px 0;
        display: flex;
        position: relative;
        .btn_gray_black,
        .btn_black_white {
          cursor: pointer;
          display: block;
          text-align: center;
          position: relative;
          margin: 20px 8px;
          padding: 16px 22px 14px;
          font-size: 14px;
          font-weight: 600;
          border-radius: 10px;
        }
        .btn_gray_black {
          width: 64px;
          background-color: rgb(213, 213, 213);
          color: rgb(10, 10, 10);
        }
        .btn_black_white {
          width: 100px;
          background-color: rgb(47, 47, 47);
          color: rgb(255, 255, 255);
        }
      }
    }
  }
  .decorate {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    .decorate_wrap {
      margin: 10px;
      .decorate_text {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
      }
      .decorate_background {
        display: flex;
        position: relative;
        margin: 20px 0;
        border: 1px solid #b4b4b4;
        border-radius: 10px;
        width: 1000px;
        flex-wrap: wrap;
        li {
          display: flex;
          position: relative;
          cursor: pointer;
          border: 1px solid #b4b4b4;
          border-radius: 25px;
          margin: 10px;
          padding: 5px 10px;
          justify-content: center;
          align-items: center;

          div {
            display: flex;
            position: relative;
            width: 30px;
            height: 30px;
            border: 1px solid #b4b4b4;
            border-radius: 25px;
            margin: 5px;
          }
          .decorate_white {
            background-color: white;
          }
          .decorate_grey {
            background-color: rgb(176, 176, 176);
          }
          .decorate_black {
            background-color: rgb(11, 11, 11);
          }
          .decorate_pink {
            background-color: rgb(255, 183, 207);
          }
          .decorate_purple {
            background-color: rgb(157, 110, 178);
          }
          .decorate_skyblue {
            background-color: rgb(212, 222, 255);
          }
          .decorate_blue {
            background-color: rgb(116, 141, 255);
          }
          .decorate_orange {
            background-color: rgb(240, 139, 44);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
}
